.client-list-container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
  }
}

table {
  width: 100%;
}

.status {
  padding: 4px 8px;
  border-radius: 12px;
  color: white;
  background-color: #f44336; // Red for Inactive

  &.active {
    background-color: #4caf50; // Green for Active
  }
}

.client-row {
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f5f5f5; /* A light grey for hover */
  }
}
